

<!-- todoForm -->

<section class="todo">
   <h3 class="bg-danger p-4">Todo Task by @I/O decorator</h3>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6">
         <app-todo-form (emitTodo)="getEmitTodo($event)"></app-todo-form>
      </div>
      <div class="col-md-6">
       <app-todo-list [getTodoItem]="todoArr"></app-todo-list>
      </div>
    </div>
  </div>
</section>

<section class="stdTask">
  <h3 class="bg-danger p-4">Student Task by @I/O decorator</h3>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6">
        <app-std-form (emitStd)="getEmitStd($event)"></app-std-form>
      </div>
      <div class="col-md-6">
       <app-std-table [stdInfo]="stdArr"></app-std-table>
      </div>
    </div>
  </div>
</section>